@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
body {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 150%;
  color: #494949;
  background-color: #f4f4f4;
}
:root {
  --main-blue: #3922c5;
  --blue-hov: #2c1a9a;
  --click-blue: #1f1368;
}
._container {
  max-width: 726px;
  padding: 0px 0px;
  margin: 0 auto;
}
h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: #0c0c0c;
}
h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #0c0c0c;
}
h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #0c0c0c;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
/////////////////////////////////////////////////////////////////////
.tabs {
  padding: 57px 15px;
  max-width: 876px;
  margin: 0 auto;
}
.tabs__items {
  display: flex;
}
.tabs__item {
  height: 73px;
  display: flex;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  background-color: #d9d9d9;
  padding: 20px 24px;
  cursor: pointer;
  & h2 {
    position: relative;
    z-index: 1;
  }
  &:nth-child(1) {
    flex: 0 0 31.56%;
  }
  &:nth-child(2) {
    flex: 0 0 34.14%;
  }
}
@media (max-width: 805px) {
  .tabs__item {
    height: 73px;
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    background-color: #d9d9d9;
    padding: 20px 24px;
    cursor: pointer;
    & h2 {
      position: relative;
      z-index: 1;
    }
    &:nth-child(1) {
      flex: 0 0 50%;
    }
    &:nth-child(2) {
      flex: 0 0 50%;
    }
  }
}

.tabs__body {
}
.tabs__block {
  position: relative;
  background-color: #ffffff;
  border-radius: 0px 20px 20px 20px;
  padding: 40px 60px;
  display: none;
  transition: all 0.5s all 0s;
}
@media (max-width: 805px) {
  .tabs__block {
    padding: 30px 30px;
    border-radius: 0px 0px 20px 20px;
  }
}
.tabs__item.is-active {
  h2 {
    color: var(--main-blue);
  }
}
.tabs__block.is-active {
  display: block;
}
.tabs__block::before {
  content: "";
  height: 73px;
  position: absolute;
  top: -73px;
  z-index: 0;
  border-radius: 20px 20px 0px 0px;
}
.tabs__block:nth-child(1):before {
  left: 0;
  background-color: #ffffff;
  width: 31.56%;
}
.tabs__block:nth-child(2):before {
  background-color: #ffffff;
  left: 31.56%;
  width: 34.14%;
}
@media (max-width: 805px) {
  .tabs__block:nth-child(1):before {
    left: 0;
    background-color: #ffffff;
    width: 50%;
  }
  .tabs__block:nth-child(2):before {
    background-color: #ffffff;
    left: 50%;
    width: 50%;
  }
}
//////////////////////////////////////////////////////////
.tabs-body__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 30px;
}

.tabs-body__image {
  margin-left: -60px;
}
.tabs-body__text {
  max-width: 425px;
  & p {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
@media (max-width: 805px) {
  .tabs-body__description {
    display: block;
  }
  .tabs-body__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 0;
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
  .tabs-body__text {
    width: 100%;
    margin: 0 auto;
  }
  .tabs-body__title {
    & h1 {
      text-align: left;
    }
  }
}
.tabs-body__title {
  margin-bottom: 20px;
  text-align: center;
}
////////////////////

.tabs-character__title {
  margin-bottom: 20px;
}
.tabs-character__list {
  margin-left: 18px;
  display: grid;
  grid-auto-flow: row;
  grid-template: 1fr / repeat(2, 43%);
  margin-bottom: 40px;
  & > *:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media (max-width: 805px) {
  .tabs-character__list {
    grid-template: 1fr / repeat(1, 100%);
  }
}
.tabs-character__item {
  list-style: decimal;
}
.list__women {
  & .tabs-character__item {
    list-style: url("../icons/Vector.png");
  }
}
.form__body {
  margin-bottom: 40px;
  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.form__item {
  display: flex;
  align-items: center;
  max-width: 503px;
  // justify-content: space-;
  gap: 24px;
}
@media (max-width: 569.98px) {
  .form__item {
    flex-direction: column;
  }
  .button__add {
    width: 100%;
  }
  .button__add_woman {
    width: 100%;
  }
}
.form__label {
}
.form__input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  color: #d9d9d9;
  &:focus {
    border-color: #3922c5;
    color: #0c0c0c;
  }
  &:invalid {
    border-color: #7c2424;
    animation: shake 0.3s;
  }
  @keyframes shake {
    25% {
      transform: translateX(4px);
    }
    50% {
      transform: translateX(-4px);
    }
    75% {
      transform: translateX(4px);
    }
  }
}
.button {
  background-color: #3922c5;
  height: 47px;
  border-radius: 16px;
  padding: 14px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #2c1a9a;
  }
  &:active {
    background-color: #1f1368;
  }
}
.button__blue {
  color: #ffffff;
}
.tabs-character__bottom {
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 30px 0px 30px 36px;
}
@media (max-width: 569.98px) {
  .tabs-character__bottom {
    justify-content: center;
    padding: 30px 0px 30px 0px;
  }
}
.button__white {
  background-color: #ffffff;
  color: #0c0c0c;
  font-family: Montserrat;
  font-size: 16px;
  color: #0c0c0c;
  &:hover {
    color: #2c1a9a;
    background-color: #ffffff;
  }
  &:active {
    color: #1f1368;
    background-color: #ffffff;
  }
}

@media (max-width: 875px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  h3 {
    font-size: 16px;
  }
}
///////////////////////////////////////
///
@media (max-width: 500px) {
  .tabs__items {
    display: flex;
    flex-direction: column;
    & > * {
      margin-bottom: 30px;
    }
  }
  .tabs__item {
    height: 73px;
    display: flex;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    background-color: #ffffff;
    padding: 20px 24px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    & h2 {
      position: relative;
      z-index: 1;
    }
    &:nth-child(1) {
      flex: 0 0 100%;
    }
    &:nth-child(2) {
      flex: 0 0 100%;
      // position: relative;
      // top: 1157px;
      transform: translateY(1157px);
      &.is-active {
        transform: translateY(0px);
      }
    }
  }
  .tabs__block::before {
    display: none;
  }
  .tabs__block {
    transition: all 0.4s ease 0s;
    &:nth-child(1) {
      position: relative;
      top: -145px;
    }
    &:nth-child(2) {
      // position: relative;
      // top: -45px;
      transform: translateY(-45px);
    }
  }
  .tabs__block.is-active {
  }
}
.burger {
  position: absolute;
  z-index: 3;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("../icons/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.tabs__item:nth-child(1) {
  .burger {
    right: 14px;
  }
}
.tabs__item.is-active .burger {
  background-image: url("../icons/close.svg");
  width: 72px;
  height: 72px;
}

@media (width > 499px) {
  .burger {
    display: none;
  }
}

button {
  display: flex;
  align-items: center;
  gap: 4px;
  // padding: 0 24px;
  height: 100%;
  opacity: 0.6;
}
